.h-100{
    padding: 20px !important;
    border-radius: 30px !important;
    width: 100% !important;
    height: 500px !important;
    object-fit: cover !important
}

.card-title {
    font-size: 20px;
    color: red;
}